<div class="container">

  <br>

  <div>
    <p>
      {{message}}
    </p>
  </div>

  <br>

  <div class="center-block">
    <table>

      <tr>
        <td id="s1" class="square" (click)="nextMove(s1, 's1')">{{s1}}</td>
        <td id="s2" class="square" (click)="nextMove(s2, 's2')">{{s2}}</td>
        <td id="s3" class="square" (click)="nextMove(s3, 's3')">{{s3}}</td>
      </tr>

      <tr>
        <td id="s4" class="square" (click)="nextMove(s4, 's4')">{{s4}}</td>
        <td id="s5" class="square" (click)="nextMove(s5, 's5')">{{s5}}</td>
        <td id="s6" class="square" (click)="nextMove(s6, 's6')">{{s6}}</td>
      </tr>

      <tr>
        <td id="s7" class="square" (click)="nextMove(s7, 's7')">{{s7}}</td>
        <td id="s8" class="square" (click)="nextMove(s8, 's8')">{{s8}}</td>
        <td id="s9" class="square" (click)="nextMove(s9, 's9')">{{s9}}</td>
      </tr>

    </table>
  </div>
</div>

